<app-dashboard-usuario [dashboardView]="dashboardView"></app-dashboard-usuario>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
<div class="col-12 sm:col-12 md:col-12 lg:col-12">
  <p-card>
    <div class="grid">
      <div class="col container">
        <app-datepicker [date]="date"></app-datepicker>
      </div>
      <div class="col container">

      </div>
      <div class="col container">
        <button pButton pRipple type="button" label="Incluir Operação" (click)="showDialogIncluir()"
        icon="pi pi-plus" class="p-button-raised p-button-success"></button>
      </div>
    </div>
  </p-card>
</div>
<div class="grid">
  <div class="col-12 sm:col-12 md:col-12 lg:col-12">
    <div class="card">
    <p-table [value]="operacoes" responsiveLayout="stack" styleClass="p-datatable-gridlines" [paginator]="true" [(rows)]="rows" [showCurrentPageReport]="true" [(first)]="first"
      currentPageReportTemplate="Exibindo de {first} a {last} de {{page?.totalElements}} registros"
      [rowsPerPageOptions]="[5,10,15]">
      <ng-template pTemplate="header" let-columns>

                  <p-dialog [(visible)]="displayIncluir">
                  <ng-template pTemplate="header">
                    <h1>Incluir Nova Operação</h1>
                  </ng-template>
                  <form [formGroup]="formValueOperacao" [style]="{'width':'80vw', 'heigth':'80vw'}">
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-6">
                        <h5>Descrição Operação</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                          <input type="text" class="form-control" formControlName="nome" pInputText>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Data de Vencimento</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                          <p-calendar appendTo="body" [touchUI]="true" [readonlyInput]="true"
                            localeformControlName="vencimento" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Valor da Operação</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon">$</span>
                          <p-inputNumber class="form-control" formControlName="valor" mode="currency" currency="BRL"
                            locale="pt-BR"></p-inputNumber>
                        </div>
                      </div>


                      <div class="col-12 md:col-6">
                        <h5>Tipo da Operação</h5>
                        <div class="form-group">
                          <p-dropdown class="form-control" formControlName="tpOperacao" [options]="tpOperacoes"
                            optionLabel="label" optionValue="operador"></p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Categoria</h5>
                        <div>
                          <p-dropdown [options]="categorias" [(ngModel)]="categoriaSelecionada"
                            [ngModelOptions]="{standalone: true}" optionLabel="nome" optionValue="id"
                            [showClear]="true"></p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Conta</h5>
                        <div>
                          <p-dropdown [(ngModel)]="contaSelecionada" [ngModelOptions]="{standalone: true}"
                              appendTo="body" [options]="contas" optionLabel="instituicao" optionValue="id" [showClear]="true"></p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-12">
                        <div class="form-group p-inputgroup container" styleClass="botaoPago">
                          <h5 style="float: left;">Pago</h5>
                          <p-inputSwitch class="form-control" formControlName="estadoPagamento"></p-inputSwitch>
                        </div>
                      </div>
                    </div>
                  </form>
                  <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="cancelarEdicao();" label="Cancelar"
                      class="p-button-raised p-button-danger"></button>
                    <button pButton pRipple type="button" icon="pi pi-check" (click)="incluirOperacao()" label="Incluir"
                      class="p-button-raised p-button-success"></button>
                  </ng-template>
                </p-dialog>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Data de Vencimento</th>
          <th class="text-center">Categoria</th>
          <th class="text-center">Estado de Pagamento</th>
          <th class="text-center">Instituição</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-operacao let-columns="columns">
        <tr>
          <td class="text-center"> <span class="p-column-title">Nome</span> {{operacao.nome}}</td>
          <td class="text-center"> <span class="p-column-title">Vencimento</span>{{operacao.vencimento}}</td>
          <td class="text-center"> <span class="p-column-title">Categoria</span>{{operacao.categoria}}</td>
          <td class="text-center"> <span class="p-column-title">Estado Pagamento</span>{{operacao.estadoPagamento}}</td>
          <td class="text-center"><span class="p-column-title">Instituição</span>{{operacao.conta.instituicao}}</td>
          <td class="text-center"><span class="p-column-title">Tipo de Operação</span>
            <h5 class="text-success" *ngIf="operacao.tpOperacao == 'R' "><i class="pi pi-arrow-up"></i>
              <b>Receita</b></h5>
            <h5 class="text-danger" *ngIf="operacao.tpOperacao == 'D' "><i class="pi pi-arrow-down"></i>
              Despesa</h5>
          </td>

          <td class="text-center"><span class="p-column-title">Ações</span>
            <div class="grid">
              <div class="col">
                <button *ngIf="operacao.estadoPagamento == 'PENDENTE'" (click)="pagarContaVencida(operacao.id);" pButton
                  pRipple pTooltip="Informar Pagamento" tooltipPosition="bottom" type="button" icon="pi pi-check"
                  class="p-button-rounded p-button-success p-button-outlined"></button>
              </div>
              <div class="col">
                <button pButton pRipple pTooltip="Editar Operação" (click)="showDialogEditar(operacao.id)"
                  tooltipPosition="bottom" type="button" icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning p-button-outlined"></button>
                <p-dialog [(visible)]="displayEditar">
                  <ng-template pTemplate="header">
                    Editar Operação
                  </ng-template>
                  <form [formGroup]="formValueOperacao">
                    <div class="grid p-fluid">
                      <div class="col-12 md:col-6">
                        <h5>Descrição Operação</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                          <input type="text" class="form-control" formControlName="nome" pInputText>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Data de Vencimento</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                          <p-calendar appendTo="body" [touchUI]="true" [readonlyInput]="true"
                            formControlName="vencimento" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Valor da Operação</h5>
                        <div class="form-group p-inputgroup">
                          <span class="p-inputgroup-addon">$</span>
                          <p-inputNumber class="form-control" formControlName="valor" mode="currency" currency="BRL"
                            locale="pt-BR"></p-inputNumber>
                        </div>
                      </div>


                      <div class="col-12 md:col-6">
                        <h5>Tipo da Operação</h5>
                        <div class="form-group">
                          <p-dropdown class="form-control" formControlName="tpOperacao" id="tpOperacaoId"
                            name="tpOperacao" [options]="tpOperacoes" optionLabel="label" optionValue="operador">
                          </p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Categoria</h5>
                        <div>
                          <p-dropdown [(ngModel)]="categoriaSelecionada" [ngModelOptions]="{standalone: true}"
                              appendTo="body" [options]="categorias" optionLabel="nome" optionValue="id" [showClear]="true"></p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-6">
                        <h5>Conta</h5>
                        <div>
                          <p-dropdown [(ngModel)]="contaSelecionada" [ngModelOptions]="{standalone: true}"
                              appendTo="body" [options]="contas" optionLabel="instituicao" optionValue="id" [showClear]="true"></p-dropdown>
                        </div>
                      </div>

                      <div class="col-12 md:col-12">
                        <div class="form-group p-inputgroup container" styleClass="botaoPago">
                          <h5 style="float: left;">Pago</h5>
                          <p-inputSwitch class="form-control" formControlName="estadoPagamento"></p-inputSwitch>
                        </div>
                      </div>
                    </div>
                  </form>
                  <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="cancelarEdicao();"label="Cancelar"

                      class="p-button-raised p-button-danger"></button>
                    <button pButton pRipple type="submit" icon="pi pi-check" label="Editar"
                      class="p-button-raised p-button-success" (click)="editarOperacao();" [disabled]="!formValueOperacao.valid"></button>
                  </ng-template>
                </p-dialog>
              </div>
              <div class="col">
                <button pButton pRipple pTooltip="Excluir Operação" (click)="excluirOperacao(operacao.id);"
                  tooltipPosition="bottom" type="button" icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-outlined"></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
</div>
