<!-- Primeira Linha de Gráficos -->
<div class="grid mt-2">
    <div class="col">
        <p-fieldset legend="Receitas e Despesas por mês" [toggleable]="true">
            <div class="card">
                <h5 class="text-center">Receitas e Despesas por mês</h5>
                <p-chart type="bar" [data]="basicData" ></p-chart>
            </div>
        </p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="Header" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>
<!-- Segunda Linha de Gráficos -->
<div class="grid">
    <div class="col">
        <p-fieldset legend="Header" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="Header" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>
