<!-- dialog de Transferencia -->
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
<!-- dialog de exibição de contas -->
<p-carousel [value]="contas" [numVisible]="2" [numScroll]="2" [circular]="false"
  [responsiveOptions]="responsiveOptions">
  <ng-template pTemplate="header">
    <div class="grid">
      <div class="col"></div>
      <div class="col"><h2 class="text-center mt-4">Gestão de Contas</h2></div>
      <div class="col">
        <button style="float: right;" pButton pRipple *ngIf="contas.length>1" (click)="showDialogTransferencia()" type="button" icon="pi pi-arrows-h" label="Transferencia"
        class="p-button-raised p-button-help mt-4"></button>
      </div>
    </div>
    <hr>
  </ng-template>
  <ng-template let-conta pTemplate="item">
    <div class="conta-item">
      <div class="conta-item-content">
        <div class="p-mb-3 p-mt-3">
        </div>
        <div>
          <h3 class="p-mb-1 text-center">{{conta.instituicao}}</h3>
          <h5 class="p-mt-0 p-mb-3 text-center">Saldo: {{conta.saldo | currency:'BRL'}}</h5>
          <h5 class="p-mt-0 p-mb-3 text-center text-success">Receitas: {{conta.receitas | currency:'BRL'}}</h5>
          <h5 class="p-mt-0 p-mb-3 text-center text-danger">Despesas: {{conta.despesas | currency:'BRL'}}</h5>
          <div class="car-buttons p-mt-5 text-center">
            <p-button type="button" pTooltip="Editar Conta" styleClass="p-button-warning p-button-rounded p-mr-2"
              icon="pi pi-pencil" (click)="showDialogEditar(conta.id)"></p-button>
            <p-button type="button" pTooltip="Detalhar Conta" (click)="showDialogInformacoes(conta.id)"
              styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-info"></p-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- dialog de edição de contas -->
<p-dialog [(visible)]="display">
  <ng-template pTemplate="header">
    <h1>Editar Conta</h1>
  </ng-template>
  <form [formGroup]="formValueConta">
    <div class="grid p-fluid">
      <div class="col-6 md:col-6">
        <h5>Saldo</h5>
        <div class="form-group p-inputgroup">
          <h1 class="text-success" *ngIf="saldo>0">{{saldo | currency:'BRL'}}</h1>
          <h1 class="text-danger" *ngIf="saldo<=0">{{saldo | currency:'BRL'}}</h1>
        </div>
      </div>
      <div class="col-6 md:col-6">
        <h5>Mostrar na tela inicial? </h5>
        <div class="form-group p-inputgroup">
          <p-inputSwitch class="form-control" formControlName="mostrarTelaInicial"></p-inputSwitch>
        </div>
      </div>
      <div class="col-12 md:col-12">
        <h5>Nome Conta / Instituição</h5>
        <div class="form-group p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
          <input type="text" class="form-control" formControlName="instituicao" pInputText>
        </div>
      </div>

    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" icon="pi pi-times" (click)="display=false" label="Cancelar"
      class="p-button-raised p-button-danger"></button>
    <button pButton pRipple type="button" icon="pi pi-check" (click)="editarConta(conta.id)" label="Editar Conta"
      class="p-button-raised p-button-success"></button>
  </ng-template>
</p-dialog>
<!-- dialog informação de contas -->
<p-dialog [(visible)]="displayInformacao">
  <ng-template pTemplate="header">
    <div class="container">

    </div>
  </ng-template>
  <p-card>
    <h1 class="text-center">{{conta.instituicao}}</h1>
    <h4 class="text-success col-12 text-center">Saldo: {{conta.saldo | currency:'BRL'}}</h4>
    <h4 class="text-danger col-12 text-center">Despesas: {{conta.despesas | currency:'BRL'}}</h4>
    <h4 class="text-success col-12 text-center">Receita: {{conta.receitas | currency:'BRL'}}</h4>
    <h4 class="text-danger col-12 text-center"> Quantidade de despesas: {{quantidadeView.quantidadeDespesas}}</h4>
    <h4 class="text-success col-12 text-center">Quantidade de receitas: {{quantidadeView.quantidadeReceitas}}</h4>
  </p-card>
</p-dialog>

<!-- dialog transferencia entre contas -->
<p-dialog [(visible)]="displayTransferencia">
  <ng-template pTemplate="header">
    <h1>Transferencia entre contas</h1>
  </ng-template>
  <form [formGroup]="formTransferencia" [style]="{'width':'80vw', 'heigth':'80vw'}">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <h5>Valor da Transferencia</h5>
        <div class="form-group p-inputgroup">
          <span class="p-inputgroup-addon">$</span>
          <p-inputNumber class="form-control" formControlName="valor" mode="currency" currency="BRL" locale="pt-BR">
          </p-inputNumber>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <h5>Conta Origem</h5>
        <div>
          <p-dropdown [(ngModel)]="contaOrigemSelecionada" [ngModelOptions]="{standalone: true}" appendTo="body"
            [options]="contas" optionLabel="instituicao" optionValue="id" [showClear]="true"></p-dropdown>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <h5>Conta Destino</h5>
        <div>
          <p-dropdown [(ngModel)]="contaDestinoSelecionada" [ngModelOptions]="{standalone: true}" appendTo="body"
            [options]="contas" optionLabel="instituicao" optionValue="id" [showClear]="true"></p-dropdown>
        </div>
      </div>

    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" icon="pi pi-times" (click)="displayTransferencia=false" label="Cancelar"
      class="p-button-raised p-button-danger"></button>
    <button pButton pRipple type="button" icon="pi pi-check" (click)="transferenciaEntreContas()" label="Transferir"
      class="p-button-raised p-button-success"></button>
  </ng-template>
</p-dialog>


