.p-toolbar{
    background-color: #4AA7F1 !important;
    color: #fff !important;
    margin-top: 0;
}
.card-initial{
    width: auto;
    height: auto;
    margin-top: 1em;
}
.text-center{
   text-align: center!important;
}
.tabela-vencidos{
    margin-top: 2em;
    margin-right: 1em;
    border-color: black!important;
}
body{
    opacity: 0.75;
}

#logo-impact{
    height: 100px;
    width: 150px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
