.p-toolbar{
    background-color: #4AA7F1 !important;
    color: #fff !important;
    margin-top: 0;
}
.card-initial{
    width: auto;
    height: auto;
    margin-top: 1em;
}
.text-center{
   text-align: center!important;
}
.tabela-vencidos{
    margin-top: 2em;
    margin-right: 1em;
    border-color: black!important;
}
body{
    opacity: 0.75;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:3ex;;
}

.botaoPago{
  justify-content: center!important;
  align-items: center!important;
  display: flex!important;
}

.text-success{
  color: green!important;
}

.text-danger{
  color: red!important;
}
