.p-toolbar{
    background-color: #4AA7F1 !important;
    color: #fff !important;
    margin-top: 0;
}
.card-initial{
     width: auto;
    height: auto; 
    margin-top: 1em;
}
.text-center{
   text-align: center; 
}
body{
    opacity: 0.75;
}

#logo-impact{
    height: 100px;
    width: 150px;
}
